.grille
{
	/*float:left;*/

}

.grille img
{
	width:300px;
	height:300px;
	/*margin:40px;*/
}



.grille table.cache
{
	display:none;
}


.liste
{
	float:none;
	display:block;
}

.liste img
{
	width:250px;
	height:250px;
	border: 20px #FFF solid;
	box-shadow: 6px 6px 6px #888888;
}

.liste img:hover
{
	box-shadow: 20px 20px 20px #888888;
}


.liste span.apparent
{
	display:none;
}

.liste table.cache
{
	display:block;
}

.liste td
{
	padding:20px;
}

.affichage, .row
{
	/*margin:0px;*/
}

.clearfix::after
{
	content:"";
	clear:both;
	display:block;
}

.aaa .col-md-4
{
	margin:0px;
	padding:0px;
}

.thumbnail.col-md-4
{
	width: 350px;
	height: 410px;
	margin: 10px;
	padding: 20px;
	box-shadow: 7px 7px 7px #888888;
}

.thumbnail.col-md-4:hover
{
	box-shadow: 20px 20px 20px #888888;
}

.liste .thumbnail.col-md-12
{
	background: rgba(135, 139, 139, 0.25);
	box-shadow: 10px 10px 10px #888888;
}


